<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<img th:src="@{/images/kot.webp}" alt="Кот"/>
<a href="/admin/new" style="font-family:sans-serif;color:indigo;font-size:25px">Add new user</a>
<div>
    <th:block th:each="usr : ${users}">
<!--        <h1 th:text="|ID=${usr.id}, ${usr.username}, Phone number: ${usr.phone}|"></h1>-->
        <h1>
            <span th:text="'ID=' + ${usr.id} + ', '"></span>
            <a th:href="@{'/admin/user?id=' + ${usr.id}}" th:text="${usr.username}"></a>
            <span th:text="', E-mail: ' + ${usr.email}"></span>
        </h1>
        <th:block th:each="role : ${usr.getRoles()}">
            <td><span th:text="${role.name}"> Title </span></td>
        </th:block>
        <a th:href="@{'/admin/update?id=' + ${usr.getId()}}" style="font-family:sans-serif;color:blue;font-size:20px">Change user</a>
        or <a th:href="@{'/admin/delete?id=' + ${usr.getId()}}" style="font-family:sans-serif;color:blue;font-size:20px">Delete user</a>
    </th:block>
</div>
<br>
<a href="/logout" style="font-family:sans-serif;color:indigo;font-size:19px">Logout</a>
</body>
</html>