<!DOCTYPE html>
<html lang="en" style="color:red">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Пример страницы</title>
</head>
<body>
<!-- Три строки текста разного размера -->
<h1>Это заголовок первого уровня</h1>
<h3>Это заголовок третьего уровня</h3>
<p style="font-size: 18px">Это обычный текст среднего размера</p>

<!-- Таблица с данными -->
<table class="table_color2 table-bold" >
    <caption>Пример таблицы с данными</caption>
    <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    <tr>
        <td>Яблоки</td>
        <td>15</td>
        <td>120 ₽</td>
    </tr>
    <tr>
        <td>Бананы</td>
        <td>8</td>
        <td>85 ₽</td>
    </tr>
    <tr>
        <td>Апельсины</td>
        <td>12</td>
        <td>110 ₽</td>
    </tr>
</table>

<table class="table_color1">
    <caption>Пример таблицы с данными</caption>
    <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    <tr>
        <td>Яблоки</td>
        <td>15</td>
        <td>120 ₽</td>
    </tr>
    <tr>
        <td>Бананы</td>
        <td>8</td>
        <td>85 ₽</td>
    </tr>
    <tr>
        <td>Апельсины</td>
        <td>12</td>
        <td>110 ₽</td>
    </tr>
</table>

<!-- Простой список -->
<h4>Список задач:</h4>
<ul id="list">
    <li>Купить продукты</li>
    <li>Заправить машину</li>
    <li>Позвонить другу</li>
    <ul>
        <li>Элемент первый</li>
        <li>Элемент второй</li>
    </ul>
    <li>Сделать домашнее задание</li>
</ul>
</body>
</html>